<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
<mat-card class="admin-page">
    <a routerLink="/main" class="logo-link">
        <img class="logo" src="assets/images/logo.png" alt="Logo" />
    </a>

    <div class="title-container">
        <h1>Administrer Jeux</h1>
    </div>
    <!-- Liste des jeux et bouton aligné -->
    <div class="games-container">
        <app-game-list [games]="games" (deleteGame)="onDeleteGame()" (visibilityChange)="onToggleVisibility()"></app-game-list>
    </div>
</mat-card>
