<div class="tile-container">
    <div 
    class="tile" 
    [ngStyle]="{'background-image': 'url(' + baseImage + ')'}"
    cdkDropList
    [cdkDropListData]="tileData"
    (cdkDropListDropped)="drop($event)"
    (removeObject)="clearTile()"
>
        @if (!objectImage) {
            <img class="transparent" src="assets/transparent.png"/>
        } @else {
            <img 
                class="item-image" 
                [src]="objectImage" 
                cdkDrag
                [cdkDragData]="itemData"
                (cdkDragStarted)="dragStarted()"
                (cdkDragEnded)="dragEnded($event)"
                />
        }
    </div>
</div>