<div class="board-container">
    <div class="game-board" [style.--size]="tiles.length">
      <div 
        *ngFor="let row of tiles; let i = index" 
        class="board-row">
        <div 
          *ngFor="let tile of row; let j = index" 
          class="board-tile"
          [ngClass]="{
            'available-move': isAvailableMove(i, j),
            'current-player-position': getPlayerAtPosition(i, j)?.isCurrentPlayer,
            'local-player-position': getPlayerAtPosition(i, j)?.isLocalPlayer
          }"
          (click)="onTileClick(i, j)">
          
          <!-- Base tile image -->
          <img [src]="getTileImage(tile)" class="tile-image" alt="Tile" />
          
          <!-- Object on tile (if any) -->
          <img *ngIf="getObjectImage(tile)" [src]="getObjectImage(tile)" class="object-image" alt="Object" />
          
          <!-- Player on tile (if any) -->
          <div *ngIf="getPlayerAtPosition(i, j)" class="player-marker"
            [ngClass]="{
              'current-player': getPlayerAtPosition(i, j)?.isCurrentPlayer,
              'local-player': getPlayerAtPosition(i, j)?.isLocalPlayer
            }">
            <img [src]="getPlayerAtPosition(i, j)?.player?.avatar" class="avatar-image" alt="Player" />
            <span class="player-name">{{ getPlayerAtPosition(i, j)?.player?.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>