.create-page {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    top: 6%;
    text-align: center;
    width: 80%; 
    height: 650px; 
    margin: 0 auto; 
}


.page-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 36px;
    margin-bottom: 5px;
    color: #ffcc00;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400%;
    gap: 15px;
}


.box:hover {
    transform: scale(1.05);
}
