<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
<mat-card class="create-page">
    <div class="title-container">
        <h1>Créer une partie</h1>
    </div>
    <div class="games-container">
        <a routerLink="/main" class="logo-link">
            <img class="logo" src="assets/images/logo.png" alt="Logo" />
        </a>
        @for (game of games; track $index) {
        <app-game-creation-card [game]="game" (click)="onBoxClick(game)"></app-game-creation-card>

        }
    </div>
</mat-card>
