<mat-card class="player-card">
    <div class="player-preview">
        <img [src]="player.avatar" alt="Avatar de {{ player.name }}" matTooltip="{{ player.name }}" matTooltipPosition="above" />
    </div>
    <div class="player-info">
        <ul>
            <li>
                <span class="player-name">{{ player.name }}</span>
            </li>
            @if (player.isHost) {
            <li>Hôte</li>
            }
        </ul>
    </div>
    <div class="player-actions">
        @if (isHost(currentPlayer) && !player.isHost) {
        <button mat-icon-button (click)="onRemovePlayer()" class="action remove" matTooltip="Exclure" matTooltipPosition="below">
            <i>👢</i>
        </button>
        }
    </div>
</mat-card>
