<mat-card class="player-card">
    <div class="player-preview">
        <img [src]="player.avatar" alt="Avatar de {{ player.name }}" matTooltip="{{ player.name }}" matTooltipPosition="above" />
    </div>
    <div class="player-info">
        <ul>
            <li>
                <span class="player-name">{{ player.name }}</span>
            </li>
            @if (player.isHost) {
            <li>👑</li>
            }
        </ul>
        <div class="player-stats">
            <p>
                Vie: {{ player.life }}
                @if (player.bonus?.life) {
                <span>(+{{ player.bonus?.life }})</span>
                }
            </p>
            <p>
                Vitesse: {{ player.speed }}
                @if (player.bonus?.speed) {
                <span>(+{{ player.bonus?.speed }})</span>
                }
            </p>
            <p>
                Attaque: @if (player.bonus?.attack) {
                <span>{{ player.bonus?.attack }}</span>
                }
            </p>
            <p>
                Défense: @if (player.bonus?.defense) {
                <span>{{ player.bonus?.defense }}</span>
                }
            </p>
        </div>
    </div>
    <div class="player-actions">
        @if (isHost() && !player.isHost) {
        <button mat-icon-button (click)="onRemovePlayer()" class="action remove" matTooltip="Exclure" matTooltipPosition="below">
            <i>👢</i>
        </button>
        }
    </div>
</mat-card>
