<div id="joinGameForm">
  <input [(ngModel)]="joinGameId" type="text" placeholder="ID de la partie" />
  <input [(ngModel)]="joinPlayerName" type="text" placeholder="Votre nom" />
  <button (click)="joinGame()">Rejoindre la partie</button>
</div>

<div id="createGameForm">
  <input [(ngModel)]="createPlayerName" type="text" placeholder="Votre nom" />
  <button (click)="createGame()">Créer la partie</button>
</div>

@if (createdGames) {
  <div id="createdGames">
    <h2>Parties créées</h2>
    <div>
      @for (game of createdGames; track game) {
        <div>
          <p>{{game.gameId}}</p>
          @for (player of game.players; track player) {
            <p>{{player.name}}</p>
          }
        </div>
      }
    </div>
  </div>
}

<div id="chat">
  <h2>Clavardage</h2>

  <div id="messages">
    <div>
      @for (message of messages; track message) {
        <p>{{message}} </p>
    }
    </div>      
  </div>
  <input [(ngModel)]="messageInput" type="text" placeholder="Écrivez un message..." />
  <button (click)="sendMessage()">Envoyer</button>
</div>
