<div>
    <h2>Test WebSocket</h2>
    
    <input [(ngModel)]="gameId" placeholder="ID Partie" />
    <input [(ngModel)]="playerName" placeholder="Nom Joueur" />
    <button (click)="createGame()">Créer Partie</button>
    <button (click)="joinGame()">Rejoindre Partie</button>
    <button (click)="startGame()">Démarrer Partie</button>
    <button (click)="leaveGame()">Quitter Partie</button>
    <button (click)="getPlayers()">Afficher Joueurs</button>
  
    <h3>Joueurs :</h3>
    <ul>
      <li *ngFor="let player of players">{{ player.name }}</li>
    </ul>
  
    <h3>Chat :</h3>
    <input [(ngModel)]="newMessage" placeholder="Message" />
    <button (click)="sendMessage()">Envoyer</button>
    
    <ul>
      <li *ngFor="let msg of messages">
        <strong>{{ msg.playerId }}</strong>: {{ msg.message }}
      </li>
    </ul>
</div>