<div class="modal-backdrop" *ngIf="show">
    <div class="modal">
      <h2>Création/Édition d'un jeu</h2>
      <form>
        <div>
          <label>Choisissez un mode :</label>
          <div>
            <input type="radio" id="classic" name="mode" value="classic" />
            <label for="classic">Classique</label>
          </div>
          <div>
            <input type="radio" id="capture" name="mode" value="capture" />
            <label for="capture">Capture de drapeau</label>
          </div>
        </div>
        <div>
          <label>Choisissez une taille de carte :</label>
          <div>
            <input type="radio" id="small" name="size" value="petite" />
            <label for="small">Petite</label>
          </div>
          <div>
            <input type="radio" id="medium" name="size" value="moyenne" />
            <label for="medium">Moyenne</label>
          </div>
          <div>
            <input type="radio" id="large" name="size" value="grande" />
            <label for="large">Grande</label>
          </div>
        </div>
        <button type="button" (click)="submit()">Enregistrer</button>
        <button type="button" (click)="close()">Annuler</button>
      </form>
    </div>
  </div>
  