<div class="tabs">
    <button (click)="activeTab = 'chat'" [class.active]="activeTab === 'chat'">Clavardage</button>
    <button (click)="activeTab = 'eventLog'" [class.active]="activeTab === 'eventLog'">Journal de Jeu</button>
</div>

<div class="chat-messages" id="chatMessages"  #chatMessagesContainer></div>

<input
    #chatInput
    type="text"
    placeholder="Écrire un message..."
    (keyup.enter)="addChatMessage('PlayerName', chatInput.value); chatInput.value = ''"
/>

<div class="event-log" id="eventLog"></div>
