<div class="container">
    <section class="game-info-container">
        <a routerLink="/main" class="logo-link">
            <img class="logo" src="assets/images/logo.png" alt="Logo" />
        </a>
        <input type="text" [(ngModel)]="game.name" placeholder="Entrer le nom du jeu" class="input-field" maxlength="20" />
        <textarea [(ngModel)]="game.description" placeholder="Entrer une description" class="textarea-field" maxlength="100"></textarea>
        <button class="button" (click)="saveBoard()">
            <img src="assets/save.png" alt="Save" class="save-icon" />
        </button>
        <button class="button" (click)="resetBoard()">
            <img src="assets/reset-icon.png" alt="Reset" class="save-icon" />
        </button>
    </section>

    <section class="main-content" cdkDropListGroup>
        <div class="tile-tools">
            <app-tile-options></app-tile-options>
        </div>
        @if (gameLoaded) {
        <div #board class="board-container">
            <app-board [game]="game"></app-board>
        </div>
        } @else {
        <div class="board-container">
            <app-board></app-board>
        </div>
        }
        <div class="object-tools">
            <app-objects></app-objects>
        </div>
    </section>
    @if (showErrorPopup) {
    <div class="popup">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <p>{{ errorMessage }}</p>
        </div>
    </div>
    }
</div>
