<h2 mat-dialog-title>Création / édition d'un jeu</h2>
<mat-dialog-content>
    <div class="mode-section">
        <h6>Choisir le mode</h6>
        <mat-radio-group [(ngModel)]="selectedMode.type">
            <mat-radio-button [value]="gameType.Classic">Classique</mat-radio-button>
            <mat-radio-button [value]="gameType.Capture">Capturer le drapeau</mat-radio-button>
        </mat-radio-group>        
    </div>

    <div class="size-section">
        <h6>Choisir la taille</h6>
        <mat-radio-group [(ngModel)]="selectedMode.size">
            <mat-radio-button [value]="gameSize.Small">Petite</mat-radio-button>
            <mat-radio-button [value]="gameSize.Medium">Moyenne</mat-radio-button>
            <mat-radio-button [value]="gameSize.Large">Grande</mat-radio-button>
        </mat-radio-group>        
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmer</button>
</mat-dialog-actions>
