<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>

<mat-card class="game-card">
   
    <div class="game-preview">
        <img [src]="game.previewImage" alt="game-preview" matTooltip="{{ game.description }}" matTooltipPosition="above" />
    </div>
    <div class="game-info">
        <ul>
            <li>{{ game.name }}</li>
            <li>{{ game.mapSize }}</li>
            <li>{{ game.mode }}</li>
            <li>{{ game.lastModified | date }}</li>
        </ul>
    </div>
    <div class="game-actions">
        <!-- Bouton "Edit" avec une baguette magique -->
        <button mat-icon-button (click)="editGame()" class="action edit" matTooltip="Edit">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>

        <!-- Bouton "Delete" avec un chaudron -->
        <button mat-icon-button (click)="deleteGame()" class="action delete" matTooltip="Delete">
            <i class="fa-solid fa-trash"></i>
        </button>
    

        <!-- Bouton "Visibility" avec un oeil -->
        <button mat-icon-button (click)="toggleVisibility(game.isVisible)" class="action visibility" matTooltip="Toggle Visibility">
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>
</mat-card>
