<mat-card class="game-card">
    <div class="game-preview">
        <img [src]="game.previewImage" alt="game-preview" matTooltip="{{ game.description }}" matTooltipPosition="above" />
    </div>
    <div class="game-info">
        <ul>
            <li><strong>Game Name</strong> {{ game.name }}</li>
            <li><strong>Map Size :</strong> {{ game.mapSize }}</li>
            <li><strong>Gamemode :</strong> {{ game.gameMode }}</li>
            <li><strong>Last edited :</strong> {{ game.lastModified | date }}</li>
        </ul>
    </div>
    <div class="game-actions">
        <button mat-stroked-button (click)="deleteGame()" class="action delete">delete</button>
        <button mat-stroked-button (click)="editGame()" class="action edit">edit</button>
        <!--TODO: ajouter routerLink vers page d'édition-->
        <mat-slide-toggle [checked]="game.isVisible" (change)="toggleVisibility($event.checked)" class="visibility"> Visibility </mat-slide-toggle>
    </div>
</mat-card>
