@if (isPlaced) {
    <div class="grey-item item">
        <img [src]="image" [matTooltip]="description" matTooltipPosition="before">
    </div>
    <p [innerText]="name"></p>

}
@else {
        <div class="item" cdkDrag>
            <img [src]="image" [matTooltip]="description" matTooltipPosition="before">
        </div>
    <p [innerText]="name"></p>
}

@if (type === objectsTypes.SPAWN) {
    <p class="counter">{{objectCounterService.spawnCounter$ | async}}</p>
}
@else if (type === objectsTypes.FLAG) {
    <p class="counter">{{uniqueCounter}}</p>
}
@else {
    <p class="counter">{{objectCounterService.itemCounter$ | async}}</p>
}
