@if (isPlaced) {
    <div class="grey-item item" cdkDrag [cdkDragDisabled]="isPlaced">
        <img [src]="image" [matTooltip]="description" matTooltipPosition="before">
    </div>
    <p [innerText]="name"></p>

}
@else {
        <div class="item" cdkDrag>
            <img [src]="image" [matTooltip]="description" matTooltipPosition="before">
        </div>
    <p [innerText]="name"></p>
}

@if (type === objectsTypes.SPAWN) {
    <p class="counter">{{spawnCounter}}</p>
}
@else if (type === objectsTypes.RANDOM) {
    <p class="counter">{{itemCounter}}</p>
}
