.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    
    &.in-tile {
        height: 100%;
        width: 100%;
        max-height: 30px;
        max-width: 30px;
    }
}

.item:hover {
    background-color: darkgreen;
    border-radius: 10px;
}

img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
    justify-self: center;
    cursor: grab;
    
    &.in-tile {
        height: 100%;
        width: 100%;
        max-height: 30px;
        max-width: 30px;
    }
}

img:active {
    cursor: grabbing;
}

p {
    color: rgb(230, 255, 230);
    text-align: center;
    font-size: small;
}

.grey-item {
    filter: brightness(0.5) saturate(0%);
}

.counter {
    color: black;
    justify-self: left;
    align-self: self-end;
}

.cdk-drag-preview {
    &.in-tile {
        height: 30px !important;
        width: 30px !important;
    }
}