.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.item:hover {
    background-color: darkgreen;
}

img {
    display: flex;
    width: 75px;
    height: 75px;
    justify-self: center;
}

p {
    color: rgb(230, 255, 230);
    text-align: center;
}
