.tile-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 10%;
    height: 40%;
    cursor: pointer;
    bottom: 20%;
    margin-top: 10%;
    margin-left: 10%;
    padding: 20px 50px 20px 50px;
    width: 3%;
    height: 3%;
}
