<div class="box">
    <section class="tools">
        <app-tile class="tile" [type]="0" (click)="copyTileType(0)"></app-tile>
        <app-tile class="tile" [type]="1" (click)="copyTileType(1)"></app-tile>
    </section>
    <section class="board" [style.gridTemplateColumns]="'repeat(' + size + ',2fr)'">
        @for(tile of tiles; track tile.id;) {
        <app-tile
            class="tile"
            [type]="tile.type"
            (mouseup)="mouseOff()"
            (mousedown)="mouseOn($event); modifyTile($event, tile)"
            (mouseover)="modifyTile($event, tile)"
            (contextmenu)="preventContextMenu($event)"
        ></app-tile>
        }
    </section>
</div>
