<div class="box" (mouseleave)="onMouseLeaveBoard()">
    <section class="board" [style.--size]="mapSize">
        @for(row of tiles; track $index;) { @for (tile of row; track tile.id;) {
        <app-tile
            class="tile"
            [type]="tile.type"
            [objectID]="tile.object"
            (contextmenu)="onRightClickBoard($event)"
            (mouseup)="onMouseUpBoard()"
            (mousedown)="onMouseDownBoard($event, tile)"
            (mouseover)="onMouseOverBoard(tile)"
            (objectChanged)="onObjectChanged($event,tile)"
            (objectMoved)="reloadTiles()"
        ></app-tile>
        } }
    </section>
</div>