<h2>Formulaire du jeu</h2>

<form (keydown.enter)="onSubmit($event)" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="name">Nom du personnage:</label>
        <input id="name" type="text" placeholder="Entre le nom de ton personnage" maxlength="12" (input)="inputName($event)" required />
        @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <div class="error">Le nom est requis.</div>
        }
    </div>

    <div class="avatar-grid">
        <label>Choisis ton avatar</label>
        <div class="avatars">
            @for (avatar of avatars; track avatar) {
            <img [src]="avatar" [class.selected]="form.get('avatar')?.value === avatar" (click)="selectAvatar(avatar)" alt="Avatar" />
            }
        </div>
    </div>

    <div class="description1">
        <label>Choisis un attribut à bonifier</label>
    </div>

    <div class="stats">
        <button id="life" type="button" [disabled]="attributeClicked$" (click)="increase('life')">+2 Vie</button>
        <span>{{ form.get('life')?.value }} vies en main!</span>
    </div>
    <div class="stats">
        <button id="speed" type="button" [disabled]="attributeClicked$" (click)="increase('speed')">+2 Vitesse</button>
        <span>{{ form.get('speed')?.value }} de rapidité en main!</span>
    </div>

    <div class="description2">
        <label>Boost ton personnage en choisissant entre un Dé de 6 faces d'attaque ou de défense !</label>
    </div>

    <div class="stats">
        <button id="attack" type="button" [disabled]="diceClicked$" (click)="pickDice('attack')">Dé d'attaque 6 faces</button>
        <span>Attaque: un Dé de {{ form.get('attack')?.value }} faces</span>
    </div>
    <div class="stats">
        <button id="defense" type="button" [disabled]="diceClicked$" (click)="pickDice('defense')">Dé de défense 6 faces</button>
        <span>Défense: un Dé de {{ form.get('defense')?.value }} faces</span>
    </div>

    <div class="actions">
        <button type="button" (click)="cancel()">Annuler</button>
        <button mat-button type="button" [disabled]="!formValid$" (click)="save()">Enregistrer</button>
        <button type="button" (click)="resetAttributes()">Réinitialiser</button>
    </div>
</form>
