<div class="end-page">
    <div class="top-section">
        <div class="quit-button">
            <button (click)="return()">Retour au menu</button>
        </div>
        <div class="congratulations-section">
            <h1 class="page-title">Félicitations à:</h1>
            <div class="winner-list">
                @for (winner of winnersNames; track trackByName) {
                <div class="winner-item">
                    <div class="winner-avatar">
                        <img src="{{ winnersAvatars[winnersNames.indexOf(winner)] }}" alt="Avatar de {{ winner }}" class="avatar-image" />
                    </div>
                    <p class="winner-name">{{ winner }}</p>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="left-stats-section">
            <h2 class="section-title">Statistiques des joueurs</h2>
            <div class="table-responsive">
                <table class="stats-table">
                    <thead>
                        <tr>
                            <th>Joueur</th>
                            <th>Nombre de combats</th>
                            <th>Nombre d'évasions</th>
                            <th>Nombre de victoires</th>
                            <th>Nombre de défaites</th>
                            <th>Total des PV perdus</th>
                            <th>Total des dégâts infligés</th>
                            <th>Nombre d'objets ramassés</th>
                            <th>Pourcentage de tuiles visitées</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (player of gameState.players; track player) {
                        <tr>
                            <td>
                                <div class="player-avatar">
                                    <img src="{{ player.avatar }}" alt="Avatar de {{ player.name }}" class="avatar-image" />
                                    <span>{{ player.name }}</span>
                                </div>
                            </td>
                            <td>{{ player.fightCount }} combats</td>
                            <td>{{ player.fleeCount }} évasions</td>
                            <td>{{ player.winCount }} victoires</td>
                            <td>{{ player.loseCount }} défaites</td>
                            <td>{{ player?.damageReceived }} PV</td>
                            <td>{{ player?.damageDealt }} PV</td>
                            <td>{{ player.itemsPicked?.length || 0 }} objets</td>
                            <td>{{ player.tileVisited || 0 }}%</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="right-stats-section">
            <h2 class="section-title">Statistiques de la partie</h2>
            <div class="game-stats-list">
                <div class="stat-item">
                    <span class="stat-label">Durée de partie (HH:MM:SS):</span>
                    <span class="stat-value">{{ formattedDuration }}</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Nombre de tours: </span>
                    <span class="stat-value">{{ gameState.turnCounter }}</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Tuiles utilisées:</span>
                    <span class="stat-value">✓</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Plateau complété:</span>
                    <span class="stat-value">✓</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Bonus/pénalités appliqués:</span>
                    <span class="stat-value">✗</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Nombre de joueurs qui ont eu le drapeau</span>
                    <span class="stat-value">{{ gameState.flagPickedCounter }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-sidebar">
        <h2 class="section-title">Clavardage</h2>
        <div class="chat-container">
            <div class="chat-messages"></div>
            <div class="chat-input-container">
                <input type="text" placeholder="Écrire un message..." class="chat-input" />
                <button class="chat-send-btn">Envoyer</button>
            </div>
        </div>
    </div>
</div>
