<div class="header-container">
    <a routerLink="/home" class="logo-link" (click)="removePlayer(currentPlayer.id)">
        <img class="logo" src="assets/images/logo.png" alt="Logo" />
    </a>
    <h2 mat-dialog-title>Salle d'attente</h2>
</div>
<div class="container-wrapper">
    <div class="lobby-container">
        <div class="main-content">
            @if (currentPlayer.isHost && lobby) {
            <app-game-controls [lobby]="lobby"></app-game-controls>
            }

            <p>
                Code d'accès : <strong>{{ lobby.id }}</strong>
            </p>

            @if (lobby.players.length >= 2 && currentPlayer.isHost) {
            <button (click)="startGame()" [disabled]="!lobby || !currentPlayer || !lobby.isLocked">Commencer la partie</button>
            }

            <app-player-list [currentPlayer]="currentPlayer" [players]="lobby.players" [hostId]="hostId" (removePlayer)="removePlayer($event)">
            </app-player-list>

            @if (isHost()) {
            <button mat-icon-button (click)="lockRoom()" class="action promote" matTooltip="Verouiller/Déverouiller" matTooltipPosition="below">
                <i>{{ lobby.isLocked ? '🔒' : '🔓' }}</i>
            </button>
            }
        </div>
    </div>
    <app-messages class="chat-container"></app-messages>
</div>
