:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  p {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-link {
    display: inline-block;
    cursor: pointer; 
}

.logo:hover {
    transform: scale(1.1);
}
