<div class="tabs">
    <button (click)="activeTab = 'eventLog'" [class.active]="activeTab === 'eventLog'">Journal de Jeu</button>
</div>

@if (activeTab === 'eventLog') {
    <div class="game-log-container">
        <div class="game-log-header">Journal de Jeu</div>
        <div class="game-log-content">
            <ul>
                @for (event of gameLog; track event.timestamp) {
                <li>
                    <span class="timestamp">{{ event.timestamp }}</span>
                    <span class="event">{{ event.eventType }}</span>
                    @if (event.involvedPlayer){
                        <span class="player">{{ event?.involvedPlayer }}</span>
                    }
                    @if (event.involvedPlayers) {
                        <span class="players">{{ event?.involvedPlayers }}</span>
                    }
                    @if (event.description) {
                        <span class="description">{{ event?.description }}</span>
                    }
                </li>
                }
            </ul>
        </div>
    </div>
}