<div class="tabs">
    <button (click)="activeTab = 'eventLog'" [class.active]="activeTab === 'eventLog'">Journal de Jeu</button>
</div>

@if (activeTab === 'eventLog') {
<div class="game-log-container" #gameLog>
    <div class="game-log-header">
        Journal de Jeu
        <button (click)="filterByCurrentPlayer = !filterByCurrentPlayer">
            {{ filterByCurrentPlayer ? 'Afficher tous les événements' : 'Afficher mes événements' }}
        </button>
    </div>
    <div class="game-log-content">
        <ul>
            @for (event of filterGameLog; track event.timestamp) {
            <li>
                <span class="timestamp">{{ event.timestamp }}</span>
                <span class="event">{{ event.eventType }}</span>
                <div class="event-details">
                    <div class="players-wrapper">
                        @if (event.involvedPlayer) {
                        <span class="player">{{ event.involvedPlayer }}</span>
                        } @if (event.involvedPlayers) {
                        <span class="players">{{ event.involvedPlayers }}</span>
                        }
                    </div>
                    @if (event.description) {
                    <span class="description">{{ event.description }}</span>
                    }
                </div>
            </li>
            }
        </ul>
    </div>
</div>
}
