<div class="game-container">
    <div class="header"></div>
    <div class="sidebar-left">
        <div class="component-box">
            <app-game-info
                [gameName]="getGameName()"
                [mapSize]="getMapSize()"
                [playerCount]="getPlayerCount()"
                [activePlayer]="getActivePlayer()"
                [players]="getPlayers()"
            >
            </app-game-info>
            <ul>
                <li><strong>Name:</strong> {{ currentPlayer?.name }}</li>
                <li><strong>Avatar:</strong> <img [src]="currentPlayer?.avatar" alt="Avatar" width="50" height="50" /></li>
                <li><strong>Vie:</strong> {{ currentPlayer?.life }}</li>
                <li><strong>Rapidité:</strong> {{ currentPlayer?.speed }}</li>
                <li><strong>Attaque:</strong> {{ currentPlayer?.attack }}</li>
                <li><strong>Défense:</strong> {{ currentPlayer?.defense }}</li>
            </ul>
            <ul>
                Bonus :
                <li><strong>Bonus Vie:</strong> {{ currentPlayer?.bonus?.life }}</li>
                <li><strong>Bonus Rapidité:</strong> {{ currentPlayer?.bonus?.speed }}</li>
                <li><strong>Dé attaque:</strong> {{ currentPlayer?.bonus?.attack }}</li>
                <li><strong>Dé défense:</strong> {{ currentPlayer?.bonus?.defense }}</li>
            </ul>
        </div>
    </div>

    <div class="board-container">
        @if (gameState) {
        <app-game-board [gameState]="gameState" [currentPlayerId]="currentPlayer?.id || ''" [lobbyId]="lobbyId" (moveRequest)="onMoveRequest($event)">
        </app-game-board>
        } @else {
        <div class="loading">
            <div class="loading-spinner"></div>
            <div class="loading-text">Chargement du jeu...</div>
        </div>
        }
    </div>

    <div class="sidebar right-sidebar">
        <app-messages></app-messages>
        @if (isCurrentPlayerTurn()) {
        <app-countdown-timer></app-countdown-timer>
        }

        <app-inventory></app-inventory>

        <div class="action-buttons">
            <button (click)="attack()">Attaquer</button>
            <button (click)="defend()">Défendre</button>
            <button (click)="endTurn()">Fin de tour</button>
            <button (click)="abandon()" routerLink="/home">Abandonner</button>

            <button class="end-turn-button" [disabled]="!isCurrentPlayerTurn()" (click)="onEndTurn()">Terminer le tour</button>
        </div>
    </div>
</div>
