<div class="game-container">
    <div class="sidebar-left">
        <div class="component-box">
            <app-game-info
                [gameName]="'Tile Bound'"
                [mapSize]="getMapSize()"
                [playerCount]="getPlayerCount()"
                [activePlayer]="getActivePlayer()"
                [players]="getPlayers()"
                [deletedPlayers]=" getDeletedPlayers()"
            >
                >
            </app-game-info>
            <div class="header">
                @if (gameState && gameState.debug) {
                <div class="debug-indicator">Mode Debug Activé</div>
                }
            </div>

            <ul>
                <li><strong>Name:</strong> {{ currentPlayer.name }}</li>
                <li><strong>Avatar:</strong> <img [src]="currentPlayer.avatar" alt="Avatar" width="50" height="50" /></li>
                <li><strong>Vie:</strong> {{ currentPlayer.life }}</li>
                <li><strong>Rapidité:</strong> {{ currentPlayer.speed }}</li>
                <li><strong>Attaque:</strong> D{{ currentPlayer.attack }}</li>
                <li><strong>Défense:</strong> D{{ currentPlayer.defense }}</li>
                <li><strong>Points de mouvement restants:</strong> {{ currentPlayer.currentMP || currentPlayer.speed }}</li>
                <li><strong>Points d'Actions restants:</strong> {{ currentPlayer.currentAP || 1 }}</li>
            </ul>
        </div>
    </div>

    <div class="board-container">
        @if (gameState) {
        <app-game-board
            [gameState]="gameState"
            [currentPlayerId]="currentPlayer.id || ''"
            [lobbyId]="lobbyId"
            [action]="action"
            [inCombat]="isInCombat"
            (tileClicked)="onMoveRequest($event)"
            (actionClicked)="onActionRequest($event)"
            (infoSent)="onInfoSent($event)"
        >
        </app-game-board>
        } @else {
        <div class="loading">
            <div class="loading-spinner"></div>
            <div class="loading-text">Chargement du jeu...</div>
        </div>
        }
    </div>

    <div class="sidebar right-sidebar">
        <app-messages></app-messages>

        <!-- Countdown for the active player or others -->

        @if (isCurrentPlayerTurn()) {
        <app-countdown-player
            [countdown]="60"
            [isPlayerTurn]="true"
            [isInCombat]="isInCombat"
            [lobbyId]="lobbyId"
            [isTransitioning]="false"
            [isAnimated]="isAnimated"
        >
        </app-countdown-player>
        } @else {
        <app-countdown-player [countdown]="60" [isPlayerTurn]="false" [isInCombat]="isInCombat" [isTransitioning]="false"> </app-countdown-player>
        }

        <app-inventory></app-inventory>
        @if (isInCombat) {

        <div class="action-buttons">
            <app-combat [gameState]="gameState" [currentPlayer]="currentPlayer!" [opponent]="opponent!" [lobbyId]="lobbyId"></app-combat>
        </div>
        } @else {
        <div class="action-buttons">
            @if(action) {
            <button class="action-buttons selected" (click)="handleAction()">Action</button>
            } @else {
            <button (click)="handleAction()">Action</button>
            }
            <button (click)="abandon()" routerLink="/home">Abandonner</button>
            <button class="end-turn-button" [disabled]="!isCurrentPlayerTurn()" (click)="onEndTurn()">Terminer le tour</button>
        </div>
        }
    </div>
</div>
